/*  */
:root {
    /* Colors
    Primary */
    --purple-600: hsl(246, 80%, 60%);
    --orange-work: hsl(15, 100%, 70%);
    --blue-play: hsl(195, 74%, 62%);
    --pink-study: hsl(348, 100%, 68%);
    --green-exercise: hsl(145, 58%, 55%);
    --purple-social: hsl(264, 64%, 52%);
    --yellow-self-care: hsl(43, 84%, 65%);
    /* Neutral */
    --background-dark: hsl(226, 43%, 10%);
    --card-background: hsl(235, 46%, 20%);
    --purple-500: hsl(235, 45%, 61%);
    --navy-200: hsl(236, 100%, 87%);
    --white: #fff;
}

html {
    font-size: 18px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: var(--white);
    min-height: 100vh;
    background-color: var(--background-dark);
    display: grid;
    place-content: center;
}

.component-dashboard {
    width: clamp(350px, 50%, 38rem);
    padding-inline: 1rem;
    padding-block: 1rem;
}

.card-report {
    width: 100%;
    height: 180px;
    margin-block-end: 1rem;
    background-color: var(--card-background);
    border-radius: 12px;
}

.card-report .report-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    height: 65%;
    padding-inline: 1rem;
    padding-block: 1rem;
    background-color: var(--purple-600);
    border-radius: 12px;
}

.report-header img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 3px solid var(--white);
}

.report-header span {
    font-size: clamp(14px, 0.6rem + 1.5vw, 1rem);
    color: var(--navy-200);
}

.report-header h1 {
    font-size: clamp(20px, 0.9rem + 2vw, 1.4rem);
    font-weight: 300;
}

.card-report .report-time {
    height: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.report-time .btn-report-time {
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--white);
    background-color: inherit;
    transition: color 0.4s ease-in-out;
}

.btn-report-time:hover {
    color: var(--navy-200);
    cursor: pointer;
}

.btn-report-time:focus {
    color: var(--navy-200);
}

/* style for cards */
.container-card-dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.card-dashboard {
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding-block-end: 1rem;
    border-radius: 12px;
    background-color: var(--card-background);
    overflow: hidden;
}

.card-dashboard .back-img {
    width: 100%;
    height: 35%;
    background-color: var(--orange-work);
    direction: rtl;
    overflow: hidden;
}

.card-dashboard .card-info {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.card-dashboard .card-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
}

.card-dashboard .card-content {
    width: 100%;
    display: flex;
    gap: 7rem;
    padding-inline: 1rem;
}

.card-dashboard button {
    border: none;
    outline: none;
    background-color: inherit;
    transition: color 0.4s ease-in-out;
}

.card-dashboard h3 {
    font-size: clamp(20px, 0.8rem + 2vw, 1.4rem);
    font-weight: 400;
}

.card-dashboard p {
    font-size: clamp(14px, 0.6rem + 1.5vw, 1rem);
    color: var(--navy-200);
}

.card-dashboard span {
    font-size: clamp(22px, 1rem + 2vw, 1.5rem);
    font-weight: 300;
    letter-spacing: 1px;
}