/*  */
:root {
    /* Colors
    Primary */
--purple-600: hsl(246, 80%, 60%);
--orange-work: hsl(15, 100%, 70%);
--blue-play: hsl(195, 74%, 62%);
--pink-study: hsl(348, 100%, 68%);
--green-exercise: hsl(145, 58%, 55%);
--purple-social: hsl(264, 64%, 52%);
--yellow-self-care: hsl(43, 84%, 65%);
    /* Neutral */
--navy-950: hsl(226, 43%, 10%);
--navy-900: hsl(235, 46%, 20%);
--purple-500: hsl(235, 45%, 61%);
--navy-200: hsl(236, 100%, 87%);
}

html {
    font-size: 18px;
}

body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  min-height: 100vh;
  background-color: var(--navy-950);
}


