/*  */
:root {
    /* Colors
    Primary */
    --purple-600: hsl(246, 80%, 60%);
    --orange-work: hsl(15, 100%, 70%);
    --blue-play: hsl(195, 74%, 62%);
    --pink-study: hsl(348, 100%, 68%);
    --green-exercise: hsl(145, 58%, 55%);
    --purple-social: hsl(264, 64%, 52%);
    --yellow-self-care: hsl(43, 84%, 65%);
    /* Neutral */
    --background-dark: hsl(226, 43%, 10%);
    --card-background: hsl(235, 46%, 20%);
    --purple-500: hsl(235, 45%, 61%);
    --navy-200: hsl(236, 100%, 87%);
    --white: #fff;
}

html {
    font-size: 18px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: var(--white);
    min-height: 100vh;
    width: 100vw;
    background-color: var(--background-dark);
    display: grid;
    place-content: center;
}

.component-dashboard {
    width: clamp(320px, 45vw, 38rem);
    padding-inline: 1rem;
    padding-block: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 1rem; */
}

.card-report {
    width: 100%;
    height: 180px;
    background-color: var(--card-background);
    border-radius: 12px;
    margin-block-end: 3rem;
}

.card-report .report-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    height: 65%;
    padding-inline: 1rem;
    background-color: var(--purple-600);
    border-radius: 12px;
}

.report-header img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 3px solid var(--white);
}

.report-header span {
    font-size: clamp(0.8rem, 0.5rem + 1.5vw, 1.4rem);
    color: var(--navy-200);
}

.report-header h1 {
    font-size: clamp(1.2rem, 0.5rem + 2vw, 2rem);
    font-weight: 300;
}

.card-report .report-time {
    height: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.report-time .btn-report-time {
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--navy-200);
    background-color: inherit;
    transition: color 0.4s ease-in-out;
}

.btn-report-time:hover {
    color: var(--white);
    cursor: pointer;
}

.btn-report-time:focus {
    color: var(--white);
}

/* style for cards */

.card-dashboard {
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    overflow: hidden;
}

.card-dashboard .back-img {
    width: 100%;
    height: 30%;
    object-fit: cover;
    display: flex;
    justify-content: flex-end;
    padding-inline-end: 20px;
}

.card-dashboard .card-info {
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block-start: 1rem;
    padding-inline: 0.5rem;
    margin-top: -30px;
    background-color: var(--card-background);
    border-radius: 14px;
}

.card-dashboard .card-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
}

.card-dashboard .card-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;
    gap: 1rem;
}

.card-dashboard button {
    border: none;
    outline: none;
    background-color: inherit;
    transition: color 0.4s ease-in-out;
}

.card-dashboard h3 {
    font-size: clamp(20px, 0.8rem + 2vw, 1.4rem);
    font-weight: 400;
}

.card-dashboard p {
    font-size: clamp(12px, 0.6rem + 1.5vw, 0.9rem);
    color: var(--navy-200);
}

.card-dashboard span {
    font-size: clamp(22px, 1rem + 2vw, 1.6rem);
    font-weight: 300;
    letter-spacing: 1px;
}

.card-work .back-img {
    background-color: var(--orange-work);
}

.card-play .back-img {
    background-color: var(--blue-play);
}

.card-study .back-img {
    background-color: var(--pink-study);
}

.card-exercise .back-img {
    background-color: var(--green-exercise);
}

.card-social .back-img {
    background-color: var(--purple-social);
}

.card-self-care .back-img {
    background-color: var(--yellow-self-care);
}

/* Tablet/Mid-Desktop (767px)*/
@media (min-width: 767px) {
    .component-dashboard {
        width: clamp(580px, 80vw, 48rem);
        padding-inline: 1rem;
        padding-block: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        column-gap: 1rem;
    }

    .card-report {
        grid-area: 1 / 1 / 2 / 3;
    }
}

/* Large Desktop(1440px) */
@media (min-width: 90rem) {
    .component-dashboard {
        width: clamp(1200px, 70vw, 68rem);
        padding-inline: 1rem;
        padding-block: 1rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 240px);
        gap: 1rem;
    }

    .card-report {
        grid-area: 1 / 1 / 3 / 2;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .card-report .report-header {
        flex-direction: column;
        align-items: start;
        justify-content: center;
        width: fit-content;
    }

    .card-report .report-time {
        flex-direction: column;
        align-items: flex-start;
        padding-inline: 1rem;
        padding-block: 1rem;
        gap: 1rem;
    }

    .card-dashboard {
        height: 100%;
    }

    .card-dashboard .back-img {
        height: 35%;
    }

    .card-dashboard .card-info {
        height: 80%;
    }

    .card-dashboard .card-content {
        flex-direction: column;
        align-items: flex-start;
    }

}